.square {
  background-color: greenyellow;
  width: 40vw;
  height: 40vw;
  margin: auto;
  /* padding-top: 10rem; */
}

.squareText {
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;
}
